Include
Lib
Scripts
share
src/data/images/train
src/data/images/test
src/data/images/crop/female/known/*
src/data/images/crop/male/known/*
eigen_face_test.ipynb
image_crop_test.ipynb
pyvenv.cfg
__pycache__